{% extends 'base.html' %}

{% block title %}Quotes{% endblock %}

{% block content %}
{% for quote in quotes %}
<div class="card" id="quote-list">
    <div class="card-body" >
        <blockquote class="blockquote mb-0 my-2" id="{{quote.id}}">
            <p>{{quote.dialog}}</p>
            <footer class="blockquote-footer">
                <a href="/characters/{{quote.char.id}}">{{quote.char.name}}</a>
            </footer>
            {% if g.user in quote.user %}
                {% if g.user.id == quote.user[quote.user.index(g.user)].id %}
                <form method="POST" action="/users/fav_quote/{{quote.id}}">
                    <button class="btn btn-info">Unlike</button>
                </form>
                {% endif %}
            {% else %}
            <form method="POST" action="/users/fav_quote/{{quote.id}}">
                <button class="btn btn-outline-info">Like</button>
            </form>
            {% endif %}
        </blockquote>
    </div>
</div>
{% endfor %}

{% if movies[0] %}
{% if not quotes[0] %}
<a href="/get-characters-quotes">
    <button type="button" class="btn btn-primary btn-lg" id="char-quote-btn">Get Other Stuff</button>
</a>
{% endif %}
{% endif %}

{% endblock %}