{% extends 'base.html' %}

{% block title %}Quotes{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8 content">
        {% if movies[0] %}
            {% if quotes[0] %}
                {% if not g.user %}
                <a href="/login">
                    <button type="button" class="btn btn-success btn-lg btn-block text-white mb-2">Log in to be able to like your favorite quotes!</button>
                </a>
                {% endif %}
            {% endif %}
        {% endif %}
        {% for quote in quotes %}
        <div class="card quote item my-3" id="{{quote.id}}">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p>{{quote.dialog}}</p>
                    <footer class="blockquote-footer">
                        <a href="/characters/{{quote.char.id}}">{{quote.char.name}}</a>
                    </footer>
                    {% if g.user %}
                    <div class="btn-toolbar">
                        <div id="{{quote.id[-4:]}}" class="like-quote" data-id="{{quote.id}}">
                            {% if g.user in quote.faveduser %}
                                {% if g.user.id == quote.faveduser[quote.faveduser.index(g.user)].id %}
                                <button class="btn btn-info text-white" data-id="{{quote.id}}">Unlike</button>
                                {% endif %}
                            {% else %}
                            <button class="btn btn-info" data-id="{{quote.id}}">Like</button>
                            {% endif %}
                        </div>
                        <a href="/quotes/{{quote.id}}/add-comment">
                            <button type="button" class="btn btn-success mx-2">Comment</button>
                        </a>
                    </div>
                    {% endif %}
                </blockquote>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<ul class="pagination pagination-md justify-content-center">
  <li class="page-item previous-page disabled"><a class="page-link" href="#">Prev</a></li>
  <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
  <li class="page-item dots"><a class="page-link" href="#">...</a></li>
  <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
  <li class="page-item current-page"><a class="page-link" href="#">6</a></li>
  <li class="page-item dots"><a class="page-link" href="#">...</a></li>
  <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
  <li ckass="page-item next-page"><a class="page-link" href="#">Next</a></li>
</ul>

{% if not quotes[0] %}
<div class="row" id="random-quotes">
</div>
<button type="button" class="btn btn-light btn-lg" id="random-btn">Get random quotes!</button>
{% endif %}

{% endblock %}