{% extends 'base.html' %}

{% block title %}{{movie.name}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <img src="{{movie.image_url}}" alt="profile pic">
    </div>
    <div class="col-md-6">
        <h3 class="text-white"><b>{{movie.name}}</b></h3>
        <p class="text-white">
            Runtime: {{movie.runtime}}<br>
            Budget in Millions: {{movie.budget}}<br>
            Revenue in Millions: {{movie.revenue}}<br>
            Academy Nominations: {{movie.academynoms}}<br>
            Academy Wins: {{movie.academywins}}<br>
            Rotten Tomato Score: {{movie.rotten_t_score}}<br>
        </p>
    </div>
</div>
<hr>
{% if movie.quotes %}
<div class="row">
    <div class="col-md-8" id="movie-quotes">
        <h3 class="text-white">Quotes from this movie:</h3>
    </div>
</div>
<div class="row">
    {% for quote in movie.quotes %}
    <div class="col-md-6">
        <div class="card quote my-3" id="{{quote.id}}">
            <div class="card-body" >
                <blockquote class="blockquote mb-0 my-2">
                    <p>{{quote.dialog}}</p>
                    <footer class="blockquote-footer">
                        <a href="/characters/{{quote.char.id}}">{{quote.char.name}}</a>
                    </footer>
                    {% if g.user %}
                    <div id="{{quote.id[-4:]}}" class="like-quote" data-id="{{quote.id}}">
                        {% if quote.faveduser[0] %}
                            {% if g.user.id == quote.faveduser[0].id %}
                            <button class="btn btn-info text-white" data-id="{{quote.id}}">Unlike</button>
                            {% endif %}
                        {% else %}
                        <button class="btn btn-info" data-id="{{quote.id}}">Like</button>
                        {% endif %}
                    </div> 
                    {% endif %}                    
                </blockquote>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}
{% endblock %}