{% extends 'base.html' %}

{% block title %}Movies{% endblock %}

{% block content %}

{% if movies[0] %}
<div class="row">
  {% for i in range(5, movies|length) %}
  <div class="col-md-4">
    <div class="card h-100 movie" id="{{movies[i].id}}" style="width: auto; cursor: pointer;">
      <img class="card-img-top" src="{{movies[i].image_url}}" alt="movies[i].name">
      <div class="card-body">
        <p class="card-text d-flex justify-content-center">{{movies[i].name}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if not movies[0] %}
<div id="loading"></div>
<h1 class="display-1">Assets are still loading, please refresh</h1>
{% endif %}

{% endblock %}