{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <form action="/login" method="POST">
            {{form.hidden_tag()}}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group my-2">
                {{field.label(class_="text-white")}}:
                {{field(class_="form-control")}}

                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{err}}
                </small>
                {% endfor %}
            </div>
            {% endfor %}
            <a href="{{prev_url}}"><button type="button" class="btn btn-secondary">Back</button></a> 
            <button type="submit" class="btn btn-success mx-2">Login</button>
        </form>
    </div>
</div>

{% endblock %}