{% extends 'base.html' %}

{% block title %}Characters{% endblock %}

{% block content %}

{% if movies[0] %}
  {% if chars[0] %}
    {% if not g.user %}
    <a href="/login">
        <button type="button" class="btn btn-success btn-lg btn-block text-white mb-4">Log in to be able to like your favorite characters!</button>
    </a>
    {% endif %}
  {% endif %}
{% endif %}

{% if chars[0] %}
<table class="table table-striped table-dark table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Race</th>
      <th scope="col">Realm</th>
      {% if g.user %}
      <th scope="col">Like/Comment</th>
      {% endif %}
    </tr>
  </thead>
  <tbody id="chars-tbody">
    {% for char in chars %}
    <tr class ="char-list-item" id="{{char.id}}" style="cursor: pointer;">
      <td scope="col">{{char.name}}</td></col>
      <td scope="col">{{char.race}}</td></col>
      <td scope="col">
        {% if char.realm %}
        {{char.realm}}
        {% else %}
        NA
        {% endif %}
      </td>
      {% if g.user %}
      <td>
        <div class="btn-toolbar">
          <div id="{{char.id[-5:]}}" class="like-char d-flex" data-id="{{char.id}}">
          {% if g.user in char.faveduser %}
            {% if g.user.id == char.faveduser[char.faveduser.index(g.user)].id %}
            <button class="btn btn-info text-white like-char" data-id="{{char.id}}"">Unlike</button>
            {% endif %}
            {% else %}
            <button class="btn btn-info like-char" data-id="{{char.id}}">Like</button>
          {% endif %}
          </div>
          <a href="/characters/{{char.id}}/add-comment">
            <button type="button" class="btn btn-success mx-2">Comment</button>
          </a>
        </div>    
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if not chars[0] %}
<div id="loading"></div>
<h1 class="display-1">Assets are still loading, please refresh</h1>
{% endif %}

{% endblock %}